
<nav class="navbar navbar-expand-lg bg-primary navbar-light">
  <a class="navbar-brand">X-workz</a>
  
  <ul class="navbar-nav">
    <li class="navbar"><a class="nav-link" href="/interaction">Interaction</a></li>
    <li class="navbar"><a class="nav-link" href="/twoway">twoway</a></li>
    <li class="navbar"><a class="nav-link" href="/forms">forms</a></li>
    <li class="navbar"><a class="nav-link" href="/divorce">divorce</a></li>
    <li class="navbar"><a class="nav-link" href="/nomination">Nomination</a></li>
    <li class="navbar"><a class="nav-link" href="/statue">Statue</a></li>
    <li class="navbar"><a class="nav-link" href="/frozen">Frozen</a></li>
    <li class="navbar"><a class="nav-link" href="/person">Person</a></li>
    <li class="navbar"><a class="nav-link" href="/rowdy">Rowdy</a></li>
    <li class="navbar"><a class="nav-link" href="/reactiveforms">Reactive Forms</a></li>
  </ul>
  
  
  </nav>
  
  <router-outlet></router-outlet>
  
  


